/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-start;
    overflow-y: auto;
    padding-top: 2%;
}

/* Container principal */
.container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1200px;
}

/* Formulário lateral */
.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Barra de pesquisa */
.search-bar {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Container de botões */
.btn-container {
    display: flex; 
    gap: 10px; 
    margin-bottom: 10px;
}

/* Botões */
.btn_menu {
    background-color: #A7A9AC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}
.btn_menu:hover {
    background-color: #BDBEBF;
}


.btn {
    background-color: #A7A9AC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; 
}

.btn:hover {
    background-color: #BDBEBF;
}

/* tabela com rolagem */
.tabela-container {
    max-height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ddd; 
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1; 
}

/* Tabela */
.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela caption {
    margin-bottom: 10px;
    font-weight: bold;
}

.tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.tabela th {
    background-color: #f4f4f4;
    position: sticky; /* Fixar o cabeçalho ao rolar */
    top: 0; /* Posição fixa no topo */
    z-index: 1; /* Garantir que o cabeçalho fique acima das células */
}


.tabela-container::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.tabela-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra */
}

.tabela-container::-webkit-scrollbar-thumb {
    background: #888; /* Cor do "polegar" da barra */
    border-radius: 5px; /* Borda arredondada */
}

.tabela-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor quando o mouse passa por cima */
}
